.navbar {
	background-color: #2c94aa;
}

h1 {
	font-size: 500%;
	color: #fc9621;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #2c94aa;
	text-shadow:
		3px 3px 0 #c6e5e4,
		-1px -1px 0 #c6e5e4,
		1px -1px 0 #c6e5e4,
		-1px 1px 0 #c6e5e4,
		1px 1px 0 #c6e5e4;
}

h2 {
	color: #fc9621;
}

.modal-header {
	background-color: #2c94aa;
}

.btn {
	background-color: #2c94aa;
}

.canvasjs-chart-credit {
	display: none;
}